
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;
}

body{
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0px;
	background-color: #fbfafa;
}
p{
	font-family: 'Lora',serif;
	color: #fbfafa;
	font-weight: 200;
	font-size: 1.25em;
	line-height: 1.5em;
}
#home{
	background-image: url(../images/salmon_orzo_dark.jpg);
	background-size:cover;
	height: 100vh;
}
#about{
	background-image: url(../images/table_scape.jpg);
	background-size:100%;
	background-repeat: no-repeat;
	height: 19.3125em;
}

#kitchen{
	background: url(../images/butternut_squash_skillet_cropped.jpg);
	background-size:100%;
	background-repeat: no-repeat;
	height: 19.3125em;
}

#form{
	background-color: #9e9e9e;
	height:80vh;
}
nav{
	background: rgba(251,250,250,1);
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 300;
	padding-top: 2em;
	padding-bottom: 2em;
	text-transform: uppercase;
	letter-spacing: .3em;
	width: 100%;
}
#home nav{
	background: rgba(51,51,51,.1);
	font-size: 1em;

}
#home nav a{
	color:#fbfafa;

}
#home h1{
	padding-bottom: .9375em;
}
footer nav{
	background: rgba(51,51,51,.1);
	font-size: 1em;

}
footer nav a{
	color:#fbfafa;
}

nav a:hover{
	font-weight:700;
}
nav a{
	display: inline;
	padding: 1em;
	margin: 0 1%;
}
li{
	/*display:inline;*/
	/*padding: 1.25em 2.1875em 1.25em;*/
}
a{
	color: rgba(51,51,51,1);
	text-decoration: none;
}

h1{
	font-family:'Roboto',sans-serif;
	font-weight: 400;
	color:#fbfafa;
	font-size: 2em;
	/*padding-bottom: .9375em;*/
	text-transform: uppercase;
}

#logo{
	height:12em;
	position: center;
	margin-top: 11em;
}
#learn{
	border-style: solid;
	border-width: .0781em;
	border-color: #fbfafa;
	background-color: transparent;
	padding: .5em 1.375em;
	width: 25%;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #fbfafa;
	text-decoration: none;
}
#learn:hover{
	background-color:#fbfafa;
	color: #333333;
}
#second{
	height: 30em;
	background-color: #fbfafa;
	padding: 6em 20em;
}
#second h2{
	font-family:'Roboto', sans-serif;
	color:#333333;
	font-size: 1.75em;
	font-weight: 700;
}
#second p{
	color:#333333;
	font-size: 1.25em;
}
#second hr{
	background-color: #333333;

}
#light{
	height:4.0625em;
}
.third{
	background-image: url(../images/cauli_kale_final.jpg);
	background-size: cover;
	height: 40em;
}
.third h2{
	font-family:'Roboto',sans-serif;
	font-size: 2em;
	font-weight: 700;
	color:#fbfafa;
}
.third p{
	padding: 0em 4.375em .625em;
}
.third hr{
	background-color: #fbfafa;

}
hr{
	background-color: #333333;
	border:none;
	display: block;
	width: 3em;
	height: .1em;
	margin: .5em auto;
	}
.line_divide{
	width: 100%;
	height: .1em;
	background-color: rgba(51,51,51,.5);
}

#price_dc_wrapper{
	/*background: purple;*/
	/*width: 1414.062px;*/
	width: 100%;
	margin: auto;

}
#dc{
	width:48%;
    float:left;
    margin: 10%.5% 0%;
    /*background: orange;*/
   
}
#price{
	width:48%;
    float:left;
    margin:10% .5% 0%;
    /*background: orange;*/
     
}
#fourth{
	height: 20em;
	background-image: url(../images/star_background_15.png);
	background-size:cover;
	padding: 4.687em 3.125em;
	background-color: #fbfafa;
}
#fourth h2{
	font-family: "Roboto",sans-serif;
	font-weight: 700;
	color: #333333;
	opacity: 100%;
	font-size: 1.75em;
	padding-bottom: 1.25em;
}
#join{
	border-style: solid;
	border-width: .0781em;
	border-color: #333333;
	background-color: transparent;
	width:25%;
	padding: .5em 1.375em;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #333333;
	text-decoration: none;
}
#join:hover{
	background-color:rgba(51,51,51,1);
	color: #fbfafa;
}
#story_mission_wrapper{
	/*background-color: purple;*/
	max-width: 40em;
	margin: auto;
}
.stars{
	height: 1.75em;
}

.about_kitchen{
	font-family:'Roboto',sans-serif;
	color: #333;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.75em;
	margin: 2em 0em .2em 0em;
}
#story h2{
	margin-top: 2em;
}

.scratch_tiny{
	/*letter-spacing: .15em;*/
	font-weight: 400;
	/*color: #660000;*/
}
.scratch_tiny:hover{
	text-decoration: underline;
}


.story_mission h2{
	font-family:'Roboto',serif;
	font-size: 1.75em;
	font-weight: 700;
	color: rgba(51,51,51,1);
	margin-top: 1em;
	/*margin-bottom: 1em;*/
}
.story_mission p{
	padding: 0 1.25em .625em;
	color: rgba(51,51,51,1);
}
#mission{
	margin-bottom: 7em;
}
#kitchen_wrapper{
	max-width: 60em;
    margin: auto;
}


.four_boxes h2{
	font-family:'Roboto', sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	color: #333333;
	margin-top: 1em;
	}
.four_boxes p{
	padding: 0em 1.25em .625em;
	color: #333333;
}

#walk_ins {
	width:48%;
    float:left;
    margin-top: .5em;
	}
#hood_space{
	width:48%;
    float:left;
    margin: .5em;
}

#office_space{
	width:48%;
    float:left;
    margin: .5em .5em 7em .5em;
	}
#more{
	width:48%;
    float:left;
    margin: .5em .5em 10em .5em;
	}
footer{
	background-color: #333333;
	padding:1.5625em;
	height: 30vh;
}
footer p{
	font-size: .75em;
	margin-top:5em;
}

.footer_all{
	background-image: url(../images/star_background_gray.png);
	background-color: #333333;
	padding: 1.5625em;
	background-size: cover;
	height: 30vh;
}

