body {
	background-color: gray;
	text-align: center;
	color: white;
	font-family: 'Avenir', sans-serif; 
	font-weight: lighter;
<<<<<<< Updated upstream
}
h1 { 
	font-weight:lighter;
}	
a {
	color:inherit;
}
=======
	}	
body a
	{color:white;
	}

>>>>>>> Stashed changes
