
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0px;
}
#home{
	background-image: url(../images/salmon_orzo_dark.jpg);
	background-size:cover;
	height: 100vh;
}
#about{
	background: url(../images/butternut_squash_skillet.jpg);
	background-size:cover;
	height:125vh;
}

nav{
	background: rgba(51,51,51,.1);
	font-family: 'Pt Serif', serif;
	font-size: 20px;
	font-weight: 400;
	padding:5px;
}
nav a:hover{
	font-weight:700;
}
li{
	display:inline;
	padding: 20px 35px 20px;
}
a{
	color: #fbfafa;
	text-decoration: none;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #fbfafa;
	font-size: 2em;
	padding-bottom: 30px;
}
footer{
	background-color: #333333;
	padding:25px;
	background-size: 
}
footer p{
	font-size: 1em;
}

#logo{
	height:25em;
	position: center;
	padding-top: 50px;
	padding-bottom: 0px;
}
#learn{
	border-style: solid;
	border-width: 3px;
	border-color: #fbfafa;
	background-color: transparent;
	padding: 8px 22px;
	font-family: 'PT Serif', serif;
	font-size: 20px;
	font-weight: normal;
	color: #fbfafa;
	text-decoration: none;
}
#learn:hover{
	background-color:#fbfafa;
	color: #333333;
}
#second{
	height: 30em;
	background-color: #fbfafa;
	padding-top: 100px;
}
#second h2{
	color:#333333;
	font-size: 2em;
	font-weight: 700;
}
#second p{
	color:#333333;
	font-size: 1.5em;
}
#light{
	height:75px;
	padding-bottom: 0px;
}
.third{
	background-image: url(../images/cauli_kale_final.jpg);
	background-size: cover;
	height: 40em; 

}
.third h2{
	font-family:'Roboto', sans-serif;
	font-size: 2em;
	font-weight: 700;
	color:#fbfafa;
}
#dc{
	width:50%;
    float:left;
    padding:160px 100px; 
}
#price{
	width:50%;
    float:left;
    padding:160px 100px; 
}
p{
	font-family: 'Pt Serif', serif;
	color: #fbfafa;
	font-weight: 400;
	font-size: 1.5em;
}
#fourth{
	height: 20em;
	background-image: url(../images/star_background_15.png);
	background-size:cover;
	padding: 75px 50px;
	background-color: #fbfafa;
}
#fourth h2{
	font-family:'Roboto', sans-serif;
	color: #333333;
	opacity: 100%;
	font-size: 2em;
	font-weight: 700;
	padding-bottom: 20px;
}
#join{
	border-style: solid;
	border-width: 3px;
	border-color: #333333;
	background-color: transparent;
	padding: 8px 22px;
	font-family: 'Pt Serif', serif;
	font-size: 20px;
	font-weight: 400;
	color: #333333;
	text-decoration: none;
}
#join:hover{
	background-color:#333333;
	color: #fbfafa;
}


#about_us{
	font-family:'Roboto', sans-serif;
	font-weight: 700;
	padding-top: 30px;
	font-size: 5em;
}
#story{
	border: 1.5px transparent rgba(51,51,51,.1);
	width:40%;
	height:400px;
	background: rgba(51,51,51,.3);
	float:left;
    padding:15px;
    margin-left: 125px;
}
#story h2{
	font-family:'Roboto', sans-serif;
	font-size: 3em;
	font-weight: 700;
	color: rgba(251,250,250,1);
}

#mission{
	border: 1.5px transparent rgba(51,51,51,.1);
	width:40%;
	height: 400px;
	background: rgba(51,51,51,.3);
    float:right;
    padding:15px;
    margin-right: 125px;

}
#mission h2{
	font-family:'Roboto', sans-serif;
	font-size: 3em;
	font-weight: 700;
	color: rgba(251,250,250,1);
}
.footer_all{
	background-image: url(../images/star_background_15.png);
	background-color: #333333;
	padding: 25px;
	background-size: cover;
}




