
*{
	box-sizing: border-box;
}
body{
	font-family: Helvetica, sans-serif;
	text-align: center;
	margin: 0px;
}
header{
	background-image: url(../images/salmon_orzo_dark.jpg);
	background-size:cover;
	height: 100vh;

}
nav{
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	font-weight: lighter;
	padding:5px;
}
nav a:hover{
	font-weight:normal;
}
li{
	display:inline;
	padding: 20px 35px 20px;
}
a{
	color: #fbfafa;
	text-decoration: none;
}

h1{
	font-family: Helvetica, sans-serif;
	color: #fbfafa;
	font-weight: lighter;
	font-size: 28px;
	padding-bottom: 30px;
}
footer{
	background-color: #333333;
	padding:25px;
	background-size: cover;
}
footer p{
	font-size: 18px;
}

#logo{
	height:360px;
	position: center;
	padding-top: 50px;
	padding-bottom: 0px;
}
#learn{
	border-style: solid;
	border-width: 3px;
	border-color: #fbfafa;
	background-color: transparent;
	padding: 8px 22px;
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #fbfafa;
	text-decoration: none;
}
#learn:hover{
	background-color:#fbfafa;
	color: #333333;
}
#second{
	height: 25em;
	background-color: #fbfafa;
	padding-top: 100px;
}
#second h2{
	color:#333333;
	font-size: 25px;
	font-weight: bold;
}
#second p{
	color:#333333;
}
#light{
	height:75px;
	padding-bottom: 0px;
}
.third{
	background-image: url(../images/cauli_kale_dark.jpg);
	background-size: cover;
	height: 75vh; 

}
.third h2{
	font-size: 25px;
	font-weight: bold;
	color:#fbfafa;
}
#dc{
	width:50%;
    float:left;
    padding:100px; 
}
#price{
	width:50%;
    float:left;
    padding:100px; 
}
p{
	font-family: Helvetica, sans-serif;
	color: #fbfafa;
	font-weight: lighter;
	font-size: 20px;
}
#fourth{
	height: 25vh;
	background-image: url(../images/star_background_15.png);
	background-size:cover;
	padding: 50px;
	background-color: #fbfafa;
}
#fourth h2{
	color: #333333;
	opacity: 100%;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
}
#join{
	border-style: solid;
	border-width: 3px;
	border-color: #333333;
	background-color: transparent;
	padding: 8px 22px;
	font-family: "Helvetica", sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
#join:hover{
	background-color:#333333;
	color: #fbfafa;
}

